.ulMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.ulMenu li {
    background: rgba(255, 255, 255, 0.9);
    margin: 2px;
    display: none;
    cursor: pointer;
}

.ulMenu li:hover {
    background: white;
    font-weight: bold;
}

.ulMenu li ul {
    display: none;
}

.ulMenu li:hover ul,
.ulMenu:hover li {
    display: block;
}